@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
  color: hsl(var(--foreground));
  background-color: hsl(var(--background));
  font-family: Inter, system-ui, sans-serif;
}

.dark {
  color-scheme: dark;
}

html {
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}

body {
  min-height: 100vh;
  margin: 0;
  background: hsl(var(--background));
  color: hsl(var(--foreground));
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
}
